.operators{
	display:grid;
	grid-template-columns: repeat(4, 35px);
	grid-template-rows: 35px;
	gap: 10px;
}
.operator{
	border: 1px solid black;
}
.operator:hover{
	background-color: #8A8D96;
	cursor: pointer;
}
.calcOwner{
	display:grid;
	grid-template-columns: repeat(4, 80px);
	grid-template-rows: repeat(5 , 80px);
	gap: 3px;
	justify-content: center;
	text-align: center;
	line-height: 80px; 
}
.calcCell{
	border: 1px solid black;
}
.calcCell:hover{
	background-color: #8A8D96;
	cursor: pointer;
}

.windowBlock{
	display: grid;
	grid-template-columns: 90% 10%;
	grid-template-rows: 50px;
	width:326px;
	margin: 30px auto 30px auto;
	font-size: 36px;
	border: 1px solid black;
	border-radius: 10px;
}

.calcWindow{
	line-height: 50px;
	font-size: 24px;
}